/*GLOBAL STYLES*/

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-size: 13px;
  font-family: "Manrope", sans-serif;
}

p {
  color: hsl(214, 17%, 51%);
  line-height: 1.6;
}

/* for small to medium size screens */
@media (max-width: 1439px) {
  .preview-article__hero img {
    width: 100%;
  }

  .article-content {
    padding: 30px;
  }

    .article-content__title {
      color: hsl(217, 19%, 35%);
      font-size: 1.1rem;
      margin-bottom: 30px;
    }

    .preview-article__short-blurb {
      line-height: 2;
      font-size: 1rem;
    }

  footer {
    display: flex;
    justify-content: space-around;
    position: relative;
    padding: 10px;
  }

    address {
      display: flex;
      flex-direction: column;
      width: fit-content;
      align-self: flex-start;
      padding-right: 80px;
      font-style: normal;
    }

      .author-avatar {
        border-radius: 50%;
        width: 15%;
        height: 15%;
      }

      .avatar-name {
        font-weight: 700;
        font-size: 0.8rem;
        color: hsl(217, 19%, 35%);
        margin-bottom: 5px;
      }

      .date-of-publish {
        font-size: 0.8rem;
      }

  .btn-wrapper {
    width: fit-content;
    align-self: center;
  }

    .js-share-btn {
      border: none;
      background-color: hsl(210, 46%, 95%);
      border-radius: 50%;
      padding: 10px;
      cursor: pointer;
    }

      svg {
        pointer-events: none;
      }

  .js-share-popup {
    display: none;
  }
    
  .js-share-popup-active {
    display: inline-flex;
    justify-content: space-around;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: hsl(217, 19%, 35%);
    transition: opacity 0.1s ease-in-out;
  }
    
    .share-text {
      color: hsl(212, 23%, 69%);
      align-self: center;
      font-size: 0.9rem;
      font-weight: 500;
      letter-spacing: 0.4rem;
      text-transform: uppercase;
      padding-left: 30px;
    }

    .social-media-icons {
      display: flex;
      justify-content: space-between;
      padding-right: 40px;
      font-size: 1.5rem;
      align-self: center;
    }

      .social-media-icon {
        margin: 0 10px;
      }

    .js-share-btn-alt {
      background-color: hsl(214, 17%, 51%);
      border: none;
      border-radius: 50%;
      padding: 10px;
      margin-right: 10px;
      align-self: center;
      pointer-events: none;
    }

      .icon-active {
        fill: hsl(210, 46%, 95%);
      }

  .attribution {
    font-size: 11px;
    text-align: center;
    margin: 50px 0 20px 0;
  }
    .attribution a {
      color: hsl(228, 45%, 44%);
    }
}

/*for large screens*/
@media (min-width: 1440px) {
  .preview-article {
    display: grid;
    grid-template-columns: fit-content(40%) fit-content(50%);
    grid-auto-rows: 250px;
    margin-bottom: 30px;
    position: relative;
  }

    .preview-article__hero {
      max-width: 100%;
    }

      .preview-article__hero img {
        width: 100%;
        object-position: 100px 0;
      }

    .article-content {
      padding: 30px 30px 0 30px;
      grid-column-end: 3;
      grid-row-end: 1;
      width: 100%;
      margin: 0 10%;
    }

      .article-content__title {
        color: hsl(217, 19%, 35%);
        margin-bottom: 30px;
        font-size: 2rem;
        width: 90%;
      }

      .preview-article__short-blurb {
        line-height: 1.5;
        font-size: 1.3rem;
        width: 90%;
      }

  footer {
    display: flex;
    align-items: center;
    grid-column-start: 2;
    grid-column-end: 3;
    width: 100%;
    margin: 30px 15% 0 15%;
  }

    .author-avatar {
      width: 10%;
      border-radius: 50%;
    }

    address {
      padding: 0 45% 0 5%;
      font-style: normal;
    }

      .avatar-name {
        font-weight: 700;
        color: hsl(217, 19%, 35%);
      }

    .js-share-btn {
      border: none;
      background-color: hsl(210, 46%, 95%);
      border-radius: 50%;
      padding: 20px;
      cursor: pointer;
    }

      svg {
        pointer-events: none;
      }

    .js-share-btn-active {
      background-color: hsl(217, 19%, 35%);
    }

      .icon-active {
        fill: hsl(210, 46%, 95%);
      }

    .js-share-popup {
      display: none;
      position: absolute;
    }

    .js-share-popup-active {
      display: inline-flex;
      justify-content: space-evenly;
      width: 20%;
      height: 10%;
      position: absolute;
      top: 55%;
      right: 4%;
      padding: 20px;
      border-radius: 20px 20px 20px 20px;
      background-color: hsl(217, 19%, 35%);
      transition: opacity 0.1s ease-in-out;
    }

      .share-text {
        color: hsl(212, 23%, 69%);
        align-self: center;
        margin-left: 20px;
        font-size: 0.9rem;
        font-weight: 500;
        letter-spacing: 0.4rem;
        text-transform: uppercase;
      }

      .social-media-icons {
        display: flex;
        padding-right: 20px;
        font-size: 1.5rem;
        align-self: center;
      }

        .social-media-icon {
          margin: 0 10px;
        }

      .js-share-btn-alt {
        display: none;
      }

    .js-share-popup-active::after {
      content: "";
      position: absolute;
      bottom: 0;
      left: 50%;
      border-left: 20px solid transparent;
      border-right: 20px solid transparent;
      border-top: 20px solid hsl(217, 19%, 35%);
      margin-bottom: -20px;
    }

  .attribution {
    display: block;
    font-size: 11px;
    text-align: center;
  }
    .attribution a {
      color: hsl(228, 45%, 44%);
    }
}

/* For super large screens to align popup*/
@media (min-width: 2000px){
  .js-share-popup-active {
    display: inline-flex;
    justify-content: space-evenly;
    width: 20%;
    height: 10%;
    position: absolute;
    top: 55%;
    right: 13%;
    padding: 20px;
    border-radius: 20px 20px 20px 20px;
    background-color: hsl(217, 19%, 35%);
    transition: opacity 0.1s ease-in-out;
  }

  .js-share-popup-active::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 50%;
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    border-top: 20px solid hsl(217, 19%, 35%);
    margin-bottom: -20px;
  }
}